{% extends "tenant_base.html" %}

{% block title %}Tenant Detail{% endblock %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li id="message_{{ forloop.counter }}"
                    {% if message.tags %} class="{{ message.tags }}">
                    {% endif %}>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Tenant details</h3>
        </div>
    </div>
    <div class="container">
        <p>ID: {{ tenant.id }}</p>
        <p>Name: {{ tenant.name }}</p>
        <p>Phone: {{ tenant.phone }}</p>
        <p>Email: {{ tenant.email }}</p>
        <p>Note: {{ tenant.note }}</p>
    </div>
    <div class="text-right">
        <a class="btn btn-primary" href="{% url "tenant:list" %}">List all tenants</a>
    </div>

{% endblock %}
