{% extends "landlord_base.html" %}

{% block title %}Landlord Detail{% endblock %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li id="message_{{ forloop.counter }}"
                    {% if message.tags %} class="{{ message.tags }}">
                    {% endif %}>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Landlord details</h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-right"><label for="id_id">ID:</label></td>
                    <td class="text-left">{{ landlord.id }}</td>
                </tr>

                <tr>
                    <td class="text-right"><label for="id_name">Name:</label></td>
                    <td class="text-left">{{ landlord.name }}</td>
                </tr>
                <tr>
                    <td class="text-right"><label for="id_street">Street:</label></td>
                    <td class="text-left">{{ landlord.street }}</td>
                </tr>
                <tr>
                    <td class="text-right"><label for="id_number">Number:</label></td>
                    <td class="text-left">{{ landlord.number }}</td>
                </tr>

                <tr>
                    <td class="text-right"><label for="id_neighborhood">Neighborhood:</label></td>
                    <td class="text-left">{{ landlord.neighborhood }}</td>
                </tr>
                <tr>
                    <td class="text-right"><label for="id_state">State:</label></td>
                    <td class="text-left">{{ landlord.state }}</td>
                </tr>
                <tr>
                    <td class="text-right"><label for="id_city">City:</label></td>
                    <td class="text-left">{{ landlord.city }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        {% if landlord.property_set %}
            <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>code</th>
                    <th>address</th>
                    <th>number</th>
                    <th>zip_code</th>
                    <th>state</th>
                    <th>city</th>
                    <th>state</th>
                    <th>status</th>
                    <th>rent</th>
                    <th>note</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for property in landlord.property_set.all %}
                    <tr>
                        <th scope="row">{{ property.id }}</th>
                        <td>{{ property.code }}</td>
                        <td>{{ property.address }}</td>
                        <td>{{ property.number }}</td>
                        <td>{{ property.zip_code }}</td>
                        <td>{{ property.neighborhood }}</td>
                        <td>{{ property.city }}</td>
                        <td>{{ property.state }}</td>
                        <td>{{ property.status }}</td>
                        <td>{{ property.rent }}</td>
                        <td>{{ property.note }}</td>
                        <td><a class="btn btn-primary" href={% url "property:detail" property.id %}>Details</a></td>
                        <td><a class="btn btn-primary" href={% url "property:update" property.id %}>Edit</a> </td>
                    </tr>
                    {% endfor %}
            </tbody>
            </table>
        {% else %}
            <p>No properties to be listed</p>
        {% endif %}
    </div>
    <div class="text-right">
        <a class="btn btn-primary" href="{% url "property:create" landlord_id=landlord.id %}">Add property</a>
        <a class="btn btn-primary" href="{% url "landlord:list" %}">List all landlords</a>
    </div>

{% endblock %}
