{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">

    <!-- <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css"> -->

    <title>{% block title %}Title{% endblock %}</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div>
                <ul>
                    <li><a href={% url "core:index" %}>Index</a></li>
                    <li><a href={% url "landlord:list" %}>List landlords</a></li>
                    <li><a href={% url "property:list" %}>List properties</a></li>
                    <li><a href={% url "tenant:list" %}>List tenants</a></li>
                    <li><a href={% url "contract:list" %}>List contracts</a></li>
                    <li>Reclamacões</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                {% block content %}
                {% endblock content %}
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
</body>
</html>
